<!-- <nav class="navbar navbar-expand-md default bg-dark">


    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/">Home</a>
            </li>
        </ul>

        <ul class="navbar-nav navbar right">
            <li class="nav-item">
                <a class="nav-link" routerLink="/profile">Profile</a>
            </li>
        </ul>

    </div>
</nav> 


<main role="main" class="container">

    <div class="starter-template">
        <router-outlet></router-outlet>
        <app-auth-nav></app-auth-nav>
       
    </div>
  
  </main> -->
 

  <app-json-to-excel></app-json-to-excel>
  <!-- <app-ngselect></app-ngselect> -->
  <!-- <router-outlet></router-outlet> -->